body, ul {
    margin: 0;
    padding: 0;
}

html {
    --scrollbarBG: white;
    --thumbBG: rgba(0,0,0,0.2);
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

.progress-container {
    position: fixed;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: rgba(0,0,0,0.8);
}