.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup_inner {
    background: white;
    position: fixed;
    left: 30%;
    right: 30%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    scrollbar-width: thin;
}

.popup_vendor {
    font-size: 16px;
}

.popup_price {
    font-size: 16px;
}

.popup_inner::-webkit-scrollbar {
    width: 11px;
}

.popup_inner::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.popup_inner::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}